PedidosDeLicenciaPorVacacionesOEnfermedad.json
{
  "name": "Pedidos de Vacaciones o Enfermedad",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Solicitud de Vacaciones",
        "formDescription": "Aqui puedes solicitar tus vacaciones o dias libres por enfermedad.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre Completo",
              "placeholder": "Nombre Completo del empleado",
              "requiredField": true
            },
            {
              "fieldLabel": "Correo Electronico",
              "fieldType": "email",
              "placeholder": "Correo Electronico del empleado",
              "requiredField": true
            },
            {
              "fieldLabel": "Tipo de Licencia",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Vacaciones"
                  },
                  {
                    "option": "Enfermedad"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Inicio de Licencia",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Fecha de Retorno",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Comentarios",
              "fieldType": "textarea",
              "placeholder": "Comentarios Adicionales"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Realizar Pedido",
          "customCss": "root {\n/* Tipografía /\n--font-family: 'Open Sans', Helvetica, Arial, sans-serif;\n--font-weight-normal: 400;\n--font-weight-bold: 600;\n--font-size-body: 12px;\n--font-size-header: 20px;\n--font-size-paragraph: 14px;\n/ ... (otros tamaños de fuente omitidos por brevedad) ... */\n/* Colores Pastel y Amarillo (no brillantes) /\n--color-background: #fdfbf1; / Crema muy claro /\n--color-card-bg: #ffffff;\n--color-test-notice-text: #d4a74c; / Amarillo mostaza suave /\n--color-test-notice-bg: #fffbf0;\n--color-test-notice-border: #f7e0b5;\n--color-link: #887e66; / Gris topo /\n--color-header: #5f5b51; / Gris oscuro suave /\n--color-label: #706b60;\n--color-input-border: #e0d8c8;\n--color-focus-border: #f0c05a; / Amarillo suave para foco /\n--color-submit-btn-bg: #f5c765; / Amarillo cálido pastel /\n--color-submit-btn-text: #5f5b51; / Texto oscuro para contraste /\n--color-error: #e67373; / Rojo pastel */\n--color-required: #e67373;\n--color-html-text: #706b60;\n--color-html-link: #f5c765;\n/* Radios de borde /\n--border-radius-card: 8px;\n--border-radius-input: 6px;\n/ ... (otros radios de borde omitidos) ... */\n/* Espaciado /\n--padding-card: 24px;\n--margin-bottom-card: 16px;\n--card-padding: 24px;\n/ ... (otros espaciados omitidos) ... */\n/* Otros /\n--box-shadow-card: 0px 4px 16px 0px rgba(99, 77, 255, 0.04); / Sombra suave */\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1216,
        560
      ],
      "id": "01210c90-7e13-4c42-906b-ab5e85c6cf5e",
      "name": "Enviar Formulario para licencia",
      "webhookId": "a866fb7d-3faf-4e0f-803e-87abb41132fe"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"fullName\": {{ $json['Nombre Completo'].toJsonString() }},\n  \"email\": {{ $json['Correo Electronico'].toJsonString() }},\n  \"daysType\": {{ $json['Tipo de Licencia'].toJsonString() }},\n  \"daysFrom\":{{ $json['Inicio de Licencia'].toJsonString() }},\n  \"daysTo\": {{ $json['Fecha de Retorno'].toJsonString() }},\n  \"commentaries\": {{ $json.Comentarios.toJsonString() }},\n  \"daysSolicited\": {{\n($json['Fecha de Retorno'].toDateTime()-$json['Inicio de Licencia'].toDateTime())/(1000*60*60*24)\n}}\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        560
      ],
      "id": "b3e1215a-60ea-438a-a030-ec28b7b4a8a3",
      "name": "Estandarizar nombre de Campos"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "daysoff",
          "mode": "list",
          "cachedResultName": "daysoff"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        560
      ],
      "id": "886a9094-3942-4130-961d-4159a63a2988",
      "name": "Obtener datos de Empleado de DB",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "xe20SKCZ2haB4fi0",
          "name": "Neon DB Postgres - josernestogarcia609@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b05f8d86-746d-4e82-a66f-8384014d50ea",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        560
      ],
      "id": "f66d8281-12a3-4858-9b61-bde98459b59c",
      "name": "Verificar Empleado Exista en DB",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"rrhh\",\n  \"subject\": \"Pedido de Licencia de empleado no registrado\",\n  \"message\": \"El correo {{ $('Estandarizar nombre de Campos').item.json.email }} no pertenece a un empleado activo.<br>Ha solicitado {{ $('Estandarizar nombre de Campos').item.json.daysSolicited }} dias libre por {{ ($('Estandarizar nombre de Campos').item.json.daysType=='Vacaciones')?'vacaciones ': 'enfermedad' }}.<br><br>Desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }}.<br>Nombre completo del solicitante: {{ $('Estandarizar nombre de Campos').item.json.fullName }}.<br><br><br>Verificar por favor.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        736
      ],
      "id": "9b0d7a57-2392-4f16-a2d1-754e60626e41",
      "name": "Formateo Error - Empleado no existe en db"
    },
    {
      "parameters": {
        "content": "# Verificaciones para Licencia x Vacaciones\n\n",
        "height": 800,
        "width": 1936,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -240
      ],
      "typeVersion": 1,
      "id": "5885c5f1-8051-4de9-a825-a20903e20420",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1b457434-e566-49e0-b2a1-e4c1d30e7bb0",
              "leftValue": "={{$('Estandarizar nombre de Campos').item.json.daysFrom.toDateTime()}}",
              "rightValue": "={{ DateTime.now().plus(7,\"days\") }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        -96
      ],
      "id": "d1ef0b08-8c79-4c5d-9037-76aba534524a",
      "name": "Verificar 7 dias antes del pedido"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"{{ $('Estandarizar nombre de Campos').item.json.email }}\",\n  \"subject\": \"Pedido de dias de licencia x Vacaciones invalido\",\n  \"message\": \"Estimado {{ $('Estandarizar nombre de Campos').item.json.fullName }}, Ud. ha solicitado {{ $('Estandarizar nombre de Campos').item.json.daysSolicited }} dias libre por Vacaciones.<br><br>Desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }}.<br>Verifique las fechas, ya que son incorrectas.<br><br><br>Saludos de RRHH\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        128
      ],
      "id": "dcef4dc5-ebf1-4264-bf4a-d3ddc0d4da91",
      "name": "Formateo Error - Las fechas no estan bien cargadas"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"{{ $('Estandarizar nombre de Campos').item.json.email }}\",\n  \"subject\": \"Pedido de licencia de Vacaciones sin preaviso de 7 dias\",\n  \"message\": \"Estimado {{ $('Estandarizar nombre de Campos').item.json.fullName }}, Ud. ha solicitado {{ $('Estandarizar nombre de Campos').item.json.daysSolicited }} dias libre por Vacaciones.<br><br>Desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }}.<br>Verifique las fechas, ya que no existen 7 dias de preaviso.<br><br><br>Saludos de RRHH\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        128
      ],
      "id": "4adc3076-06dd-4b30-be85-3eb4afd7d6cb",
      "name": "Formateo Error - No son 7 dias previos"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"{{ $('Estandarizar nombre de Campos').item.json.email }}\",\n  \"subject\": \"Dias insuficientes de {{ $('Estandarizar nombre de Campos').item.json.daysType }}\",\n  \"message\": \"Estimado {{ $('Estandarizar nombre de Campos').item.json.fullName }}, Ud. ha solicitado {{ $('Estandarizar nombre de Campos').item.json.daysSolicited }} dias libre por {{( $('Estandarizar nombre de Campos').item.json.daysType=='Vacaciones')?'vacaciones ': 'enfermedad' }}.<br><br>Desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }}.<br>Verifique las fechas, ya que solo dispone de {{ $('Obtener datos de Empleado de DB').item.json.vacationdays }} dias de {{ $('Estandarizar nombre de Campos').item.json.daysType }}.<br><br><br>Saludos de RRHH\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        128
      ],
      "id": "5edd3e94-2001-4e7f-9a27-a7f2885a6c96",
      "name": "Formateo Error - Sin dias suficientes de Vacaciones"
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Aprueba o Rechaza?",
        "formDescription": "=Aprueba o Rechaza la petición de licencia x Vacaciones?\n\n\n",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Aprobacion",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Aprobado"
                  },
                  {
                    "option": "Rechazado"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Motivo",
              "fieldType": "textarea",
              "placeholder": "Motivo de la aceptacion o Rechazo"
            }
          ]
        },
        "limitWaitTime": true,
        "resumeAmount": 5,
        "resumeUnit": "minutes",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1712,
        -544
      ],
      "id": "f3fa3d4b-8096-4c78-ab00-29ca5f550a2e",
      "name": "Esperar Respuesta de RRHH",
      "webhookId": "286f68f3-9fbe-4b54-9604-6b16936a8882"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61680dc3-f024-48c6-8fc5-1fd46bda8561",
              "leftValue": "={{ $json.Aprobacion }}",
              "rightValue": "Aprobado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        -128
      ],
      "id": "0ac85120-576f-497c-9e47-b572a4a6b69c",
      "name": "Licencia aprobadas por RRHH?"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"{{ $('Estandarizar nombre de Campos').item.json.email }}\",\n  \"subject\": \"Rechazo de pedido de {{ $('Estandarizar nombre de Campos').item.json.daysType }}\",\n  \"message\": \"Estimado {{ $('Estandarizar nombre de Campos').item.json.fullName }}.<br><br> Su pedido de {{ $('Estandarizar nombre de Campos').item.json.daysType }} desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }} fue rechazado.<br><br><b>Motivo</b>: {{ $json.Motivo }}\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        96
      ],
      "id": "593689cc-da8c-44c8-a3df-8db455453dc3",
      "name": "Formateo Error - Licencia Rechazada RRHH"
    },
    {
      "parameters": {
        "content": "# RRHH \n",
        "height": 416,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        -672
      ],
      "typeVersion": 1,
      "id": "5e8e6fe4-d93a-4dc5-a43d-275ff6a1c0d1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "daysoff",
          "mode": "list",
          "cachedResultName": "daysoff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Estandarizar nombre de Campos').item.json.email }}",
            "vacationdays": "={{$('Verificar Empleado Exista en DB').item.json.vacationdays -  $('Estandarizar nombre de Campos').item.json.daysSolicited }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vacationdays",
              "displayName": "vacationdays",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sick_days",
              "displayName": "sick_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2384,
        -144
      ],
      "id": "9112fa22-8c91-4800-8024-08b42069e80d",
      "name": "Actualizar dias de licencias",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "xe20SKCZ2haB4fi0",
          "name": "Neon DB Postgres - josernestogarcia609@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "content": "# Actualizacion de DB\n",
        "height": 800,
        "width": 608,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        -240
      ],
      "typeVersion": 1,
      "id": "7134203d-02f3-4393-a36e-4adfb6c88d40",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"{{ $('Estandarizar nombre de Campos').item.json.email }}\",\n  \"subject\": \"Su pedido de {{ $('Estandarizar nombre de Campos').item.json.daysType }} ha resultado exitoso.\",\n  \"message\": \"Estimado {{ $('Estandarizar nombre de Campos').item.json.fullName }}.<br><br> Su pedido de {{ $('Estandarizar nombre de Campos').item.json.daysType }} desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }} ha sido aceptado y confirmado.<br><br><b>Atte. RRHH\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        96
      ],
      "id": "13bb3ece-42b5-41a7-8c9b-92583d9ab727",
      "name": "Formato Aviso - Licencia existosa"
    },
    {
      "parameters": {
        "sendTo": "={{ ($json.target=='rrhh')? \"atomdevs.ai@gmail.com\" : $('Estandarizar nombre de Campos').item.json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        720
      ],
      "id": "d7ba2762-531e-4a9c-bf2c-9abbc4580f90",
      "name": "Enviar mensaje a RRHH o Empleado",
      "webhookId": "ef222a86-48c8-4077-b9c2-da7e54afc972",
      "credentials": {
        "gmailOAuth2": {
          "id": "Z4JLwCiTxKfqhPbd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Enviar Correo",
        "height": 320,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        656
      ],
      "typeVersion": 1,
      "id": "e1232e60-aeb9-439a-aa24-9c1de9996fd8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Verificaciones para Licencia x Enfermedad\n\n",
        "height": 800,
        "width": 1936,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        1024
      ],
      "typeVersion": 1,
      "id": "6fd974b4-8b64-4b4b-a3d2-9b64205f4d58",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0201aef4-66ca-49d8-957e-c5995e144a4d",
              "leftValue": "={{ $('Estandarizar nombre de Campos').item.json.daysType }}",
              "rightValue": "Vacaciones",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        544
      ],
      "id": "2f334e18-3e32-415c-b787-32ff14159ea0",
      "name": "Verificar si la licencia es por Vacaciones"
    },
    {
      "parameters": {
        "content": "# Lectura de la DB \n",
        "height": 608,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        384
      ],
      "typeVersion": 1,
      "id": "9464c019-2515-4bab-bfa8-b85c8ef57668",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff64724c-0dba-4d0c-9fdf-f24f309e241b",
              "leftValue": "={{ $('Estandarizar nombre de Campos').item.json.daysSolicited }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -96
      ],
      "id": "d756ccaa-53a3-4fcb-b869-ffaf0deec6b0",
      "name": "Verificar si estan bien cargados las fechas"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d99b8646-c4ec-4cb3-abc1-b63a73942756",
              "leftValue": "={{ $('Estandarizar nombre de Campos').item.json.daysSolicited }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        1488
      ],
      "id": "fc9db127-c22c-4f6b-aa55-5c768b81f0a5",
      "name": "Verificar si estan bien cargados los datos"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"{{ $('Estandarizar nombre de Campos').item.json.email }}\",\n  \"subject\": \"Pedido de dias de licencia x enfermedad invalido\",\n  \"message\": \"Estimado {{ $('Estandarizar nombre de Campos').item.json.fullName }}, Ud. ha solicitado {{ $('Estandarizar nombre de Campos').item.json.daysSolicited }} dias libre por Enfermedad.<br><br>Desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }}.<br>Verifique las fechas, ya que son incorrectas.<br><br><br>Saludos de RRHH\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        1200
      ],
      "id": "1eb13f8a-eb29-484b-a6a4-a6d5b346ac95",
      "name": "Formateo Error - Las fechas no estan bien cargadas1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83dc3c48-60ee-4463-b794-17af41a70cd6",
              "leftValue": "={{ DateTime.now().plus(7,'days') }}",
              "rightValue": "={{ $('Estandarizar nombre de Campos').item.json.daysFrom.toDateTime() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        1488
      ],
      "id": "42a981f1-4849-4b44-95a0-b35b608f7a50",
      "name": "Verificar 7 dias antes del pedido1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"{{ $('Estandarizar nombre de Campos').item.json.email }}\",\n  \"subject\": \"Pedido de licencia x Enfermedad sin preaviso de 7 dias\",\n  \"message\": \"Estimado {{ $('Estandarizar nombre de Campos').item.json.fullName }}, Ud. ha solicitado {{ $('Estandarizar nombre de Campos').item.json.daysSolicited }} dias libre por Enfermedad.<br><br>Desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }}.<br>Verifique las fechas, ya que no existen 7 dias de preaviso.<br><br><br>Saludos de RRHH\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        1200
      ],
      "id": "2251ee8c-3322-4893-aafe-9f826a7f76fa",
      "name": "Formateo Error - No son 7 dias previos1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b43559b-29eb-465d-99ab-d9b47d664ee2",
              "leftValue": "={{ $('Estandarizar nombre de Campos').item.json.daysSolicited }}",
              "rightValue": "={{ $('Obtener datos de Empleado de DB').item.json.vacationdays }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        -96
      ],
      "id": "48b27a8e-c6e6-4034-adb2-64b744fbc0d0",
      "name": "Verficiar si tiene los dias disponibles en DB para Vacaciones"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a43827e1-7ec5-42e9-a9cb-cb06f87d89ab",
              "leftValue": "={{ $('Estandarizar nombre de Campos').item.json.daysSolicited }}",
              "rightValue": "={{ $('Obtener datos de Empleado de DB').item.json.sick_days }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        1488
      ],
      "id": "b59f4c6d-4f82-4f10-b38d-46f3870fdeb4",
      "name": "Verificar si tiene los dias disponibes en DB para enfermedad"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"{{ $('Estandarizar nombre de Campos').item.json.email }}\",\n  \"subject\": \"Dias insuficientes para Licencia x Enfermedad\",\n  \"message\": \"Estimado {{ $('Estandarizar nombre de Campos').item.json.fullName }}, Ud. ha solicitado {{ $('Estandarizar nombre de Campos').item.json.daysSolicited }} dias libre por Enfermedad.<br><br>Desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }}.<br>Verifique las fechas, ya que solo dispone de {{ $('Obtener datos de Empleado de DB').item.json.sick_days }} dias de licencia x Enfermedad.<br><br><br>Saludos de RRHH\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        1200
      ],
      "id": "29005b8d-287b-4c4a-99be-0dbcc067a2ed",
      "name": "Formateo Error - Sin dias suficientes x Enfermedad"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=## Solicitud de {{ $('Estandarizar nombre de Campos').item.json.daysType }}.\n\nEmpleado: {{ $('Estandarizar nombre de Campos').item.json.fullName }}.\nEmail: {{ $('Estandarizar nombre de Campos').item.json.email }}.\n\nSolicita licencia por Vacaciones.\nFecha de Inicio: {{ $('Estandarizar nombre de Campos').item.json.daysFrom }}.\nFecha de Reincorporación: {{ $('Estandarizar nombre de Campos').item.json.daysTo }}.\nCantidad de dias solicitados: {{ $('Estandarizar nombre de Campos').item.json.daysSolicited }} .\n\n## Aprueba o Rechaza\n[Formulario de Respuesta]({{ $execution.resumeFormUrl }})\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1392,
        -544
      ],
      "id": "ffda39c8-b057-4001-839d-23289dba8977",
      "name": "Solicitar Licencia x Vacaciones a RRHH",
      "webhookId": "1f229a0c-b5d2-45cb-8841-ab817e3bad92",
      "credentials": {
        "discordWebhookApi": {
          "id": "uuhjL6J1RqxYAaw5",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=## Solicitud de Licencia x Enfermedad.\n\nEmpleado: {{ $('Estandarizar nombre de Campos').item.json.fullName }}.\nEmail: {{ $('Estandarizar nombre de Campos').item.json.email }}.\n\nSolicita licencia por Enfermedad.\nFecha de Inicio: {{ $('Estandarizar nombre de Campos').item.json.daysFrom }}.\nFecha de Reincorporación: {{ $('Estandarizar nombre de Campos').item.json.daysTo }}.\nCantidad de dias solicitados: {{ $('Estandarizar nombre de Campos').item.json.daysSolicited }} .\n\n## Aprueba o Rechaza\nSolicita licencia por Vacaciones.\n[Click Aca]({{ $execution.resumeFormUrl }})\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1584,
        1936
      ],
      "id": "37dda679-f1a7-4530-9254-b6de418c3daf",
      "name": "Solicitar licencia x Enfermedad a RRHH",
      "webhookId": "0dcc8dc3-cee7-4498-b54c-e8816c551002",
      "credentials": {
        "discordWebhookApi": {
          "id": "uuhjL6J1RqxYAaw5",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "=Aprueba o Rechaza?",
        "formDescription": "Aprueba o Rechaza la petición de licencia x Enfermedad?",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Aprobacion",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Aprueba"
                  },
                  {
                    "option": "Rechaza"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Motivo",
              "fieldType": "textarea",
              "placeholder": "Motivo del Rechazo"
            }
          ]
        },
        "limitWaitTime": true,
        "resumeAmount": 2,
        "resumeUnit": "days",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        1936
      ],
      "id": "576aabcb-d582-48a3-b12c-22117e603bfe",
      "name": "Esperar respuesta de RRHH",
      "webhookId": "0ff6055b-8a0e-4165-97ce-811a6205d98f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61680dc3-f024-48c6-8fc5-1fd46bda8561",
              "leftValue": "={{ $json.Aprobacion }}",
              "rightValue": "Aprueba",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        1472
      ],
      "id": "7b292595-e180-40cb-ba65-8bfa77704820",
      "name": "Licencia aprobadas por RRHH?1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"{{ $('Estandarizar nombre de Campos').item.json.email }}\",\n  \"subject\": \"Rechazo de pedido de {{ $('Estandarizar nombre de Campos').item.json.daysType }}\",\n  \"message\": \"Estimado {{ $('Estandarizar nombre de Campos').item.json.fullName }}.<br><br> Su pedido de {{ $('Estandarizar nombre de Campos').item.json.daysType }} desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }} fue rechazado.<br><br><b>Motivo</b>: {{ $json.Motivo }}\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        1184
      ],
      "id": "3cc0b41e-5411-4c59-a501-8f087a0787a1",
      "name": "Formateo Error - Licencia Medica Rechazada RRHH1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "4ea6dff0ad6fc3e75a11f7e170287451b9c12650e945a4a08e6544996e3e195e@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "RRHH-Vacaciones de Empleados"
        },
        "start": "={{ $('Estandarizar nombre de Campos').item.json.daysFrom }}",
        "end": "={{ $('Estandarizar nombre de Campos').item.json.daysTo }}",
        "additionalFields": {
          "allday": "yes",
          "description": "=Licencias de Vacaciones  de {{ $('Estandarizar nombre de Campos').item.json.fullName }}",
          "summary": "Vacaciones "
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2176,
        -144
      ],
      "id": "8d593b31-ad27-4163-adb4-e515fa6725c5",
      "name": "Crear Evento de Licencia x Vacacionesen Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QcKe7PDSsCfnf0A1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "576367b13a7809252724d65f2ca2a2ac9bdfcbcaa82fbe473f6efd68bd148793@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "RRHH-Enfermedad Empleados"
        },
        "start": "={{ $('Estandarizar nombre de Campos').item.json.daysFrom }}",
        "end": "={{ $('Estandarizar nombre de Campos').item.json.daysTo }}",
        "additionalFields": {
          "summary": "=Licencias por enfermedad {{$('Estandarizar nombre de Campos').item.json.fullName   }} - Del {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} al {{ $('Estandarizar nombre de Campos').item.json.daysTo }} - {{ $('Estandarizar nombre de Campos').item.json.daysSolicited }} dias."
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2160,
        1456
      ],
      "id": "d3370d51-8276-447c-bed8-5e8f71cda431",
      "name": "Crear Evento de Licencia x Enfermedad en Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "QcKe7PDSsCfnf0A1",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "daysoff",
          "mode": "list",
          "cachedResultName": "daysoff"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Obtener datos de Empleado de DB').item.json.id }}",
            "sick_days": "={{ $('Obtener datos de Empleado de DB').item.json.sick_days - $('Estandarizar nombre de Campos').item.json.daysSolicited }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vacationdays",
              "displayName": "vacationdays",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sick_days",
              "displayName": "sick_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2368,
        1456
      ],
      "id": "e8a0b999-4f25-4417-8105-e660e0c916b9",
      "name": "Actualizar dias de Licencia x Enfermedad",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "xe20SKCZ2haB4fi0",
          "name": "Neon DB Postgres - josernestogarcia609@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"target\": \"{{ $('Estandarizar nombre de Campos').item.json.email }}\",\n  \"subject\": \"Su pedido de Licencia x Enfermedad ha resultado exitoso.\",\n  \"message\": \"Estimado {{ $('Estandarizar nombre de Campos').item.json.fullName }}.<br><br> Su pedido de Licencia x Enfermedad desde el {{ $('Estandarizar nombre de Campos').item.json.daysFrom }} hasta el {{ $('Estandarizar nombre de Campos').item.json.daysTo }} ha sido aceptado y confirmado.<br><br><b>Atte. RRHH\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        1184
      ],
      "id": "42e0f81b-8cce-48b2-90c5-9b9650c81cf2",
      "name": "Formato Aviso - Licencia x enfermedad existosa1"
    },
    {
      "parameters": {
        "content": "# Actualizacion de DB\n",
        "height": 800,
        "width": 608,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        1024
      ],
      "typeVersion": 1,
      "id": "596c3bd5-57d3-4816-9483-a6424f011e32",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# RRHH \n",
        "height": 416,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        1840
      ],
      "typeVersion": 1,
      "id": "4ce379d5-a07b-49a3-b8b8-8d383660c5be",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Enviar Formulario para licencia": {
      "main": [
        [
          {
            "node": "Estandarizar nombre de Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estandarizar nombre de Campos": {
      "main": [
        [
          {
            "node": "Obtener datos de Empleado de DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener datos de Empleado de DB": {
      "main": [
        [
          {
            "node": "Verificar Empleado Exista en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Empleado Exista en DB": {
      "main": [
        [
          {
            "node": "Verificar si la licencia es por Vacaciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formateo Error - Empleado no existe en db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateo Error - Empleado no existe en db": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar 7 dias antes del pedido": {
      "main": [
        [
          {
            "node": "Verficiar si tiene los dias disponibles en DB para Vacaciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formateo Error - No son 7 dias previos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateo Error - Las fechas no estan bien cargadas": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateo Error - No son 7 dias previos": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateo Error - Sin dias suficientes de Vacaciones": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar Respuesta de RRHH": {
      "main": [
        [
          {
            "node": "Licencia aprobadas por RRHH?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Licencia aprobadas por RRHH?": {
      "main": [
        [
          {
            "node": "Crear Evento de Licencia x Vacacionesen Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formateo Error - Licencia Rechazada RRHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateo Error - Licencia Rechazada RRHH": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar dias de licencias": {
      "main": [
        [
          {
            "node": "Formato Aviso - Licencia existosa",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Formato Aviso - Licencia existosa": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si la licencia es por Vacaciones": {
      "main": [
        [
          {
            "node": "Verificar si estan bien cargados las fechas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar si estan bien cargados los datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si estan bien cargados las fechas": {
      "main": [
        [
          {
            "node": "Verificar 7 dias antes del pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formateo Error - Las fechas no estan bien cargadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si estan bien cargados los datos": {
      "main": [
        [
          {
            "node": "Verificar 7 dias antes del pedido1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formateo Error - Las fechas no estan bien cargadas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateo Error - Las fechas no estan bien cargadas1": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar 7 dias antes del pedido1": {
      "main": [
        [
          {
            "node": "Verificar si tiene los dias disponibes en DB para enfermedad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formateo Error - No son 7 dias previos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateo Error - No son 7 dias previos1": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verficiar si tiene los dias disponibles en DB para Vacaciones": {
      "main": [
        [
          {
            "node": "Solicitar Licencia x Vacaciones a RRHH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formateo Error - Sin dias suficientes de Vacaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si tiene los dias disponibes en DB para enfermedad": {
      "main": [
        [
          {
            "node": "Solicitar licencia x Enfermedad a RRHH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formateo Error - Sin dias suficientes x Enfermedad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateo Error - Sin dias suficientes x Enfermedad": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solicitar Licencia x Vacaciones a RRHH": {
      "main": [
        [
          {
            "node": "Esperar Respuesta de RRHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solicitar licencia x Enfermedad a RRHH": {
      "main": [
        [
          {
            "node": "Esperar respuesta de RRHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar respuesta de RRHH": {
      "main": [
        [
          {
            "node": "Licencia aprobadas por RRHH?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Licencia aprobadas por RRHH?1": {
      "main": [
        [
          {
            "node": "Crear Evento de Licencia x Enfermedad en Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formateo Error - Licencia Medica Rechazada RRHH1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formateo Error - Licencia Medica Rechazada RRHH1": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Evento de Licencia x Vacacionesen Calendar": {
      "main": [
        [
          {
            "node": "Actualizar dias de licencias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Evento de Licencia x Enfermedad en Calendar": {
      "main": [
        [
          {
            "node": "Actualizar dias de Licencia x Enfermedad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar dias de Licencia x Enfermedad": {
      "main": [
        [
          {
            "node": "Formato Aviso - Licencia x enfermedad existosa1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formato Aviso - Licencia x enfermedad existosa1": {
      "main": [
        [
          {
            "node": "Enviar mensaje a RRHH o Empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2de22fcf-38df-402f-b1df-5d60f34216ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbe5d8ad76950a9412c0740f0e99232c0d7d558d2ed7608d4bc705808d444dab"
  },
  "id": "9LWzAwJiRtBFeM5p",
  "tags": []
}